<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Webpage</title>
       {{>headerlinks}}

</head>
<body>
                
{{>navbar}}

    <!-- main content -->
    <div class="main_container">
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto" >
                    <div class="row">
                        <div class="col-md-6 col-12 main_header_left">
                            <!-- right side -->
                            <div class="left_text" id="about-cont-l">
                                <p>Welcome to <br> Weather App</p>
                                <h1>I am a <span id="weat_span">Frontend Developer...</span> <br>Making my first Backend project</h1>
                                <a href="https://www.instagram.com/accounts/login/"><button class="button-27" role="button">HIRE ME</button></a>

                                
                            </div>
                        </div>
                        <div class="col-md-6 col-12 main_header_right">
                            <!-- left side -->
                            <div class="right_text" id="about_img_cont">
                                <figure>
                                    <img src="Images/about-girl.png" alt="neha" class="img_field" title="about-img">
                                </figure>
                            </div>
                            </div>
                           
                    </div>
                </div>
            </div>
        </div>
    </div>

{{>footer}}

    <script src="Js/main.js"></script>
</body>
</html>